<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pa.imc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <pa.imc.Properties.Settings>
            <setting name="RaumId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EquipId" serializeAs="String">
                <value>0</value>
            </setting>
        </pa.imc.Properties.Settings>
    </applicationSettings>
</configuration>